{% extends "HeadFoot.html" %}

{% block title %}
  Character Connector - Results
{% endblock %}

{% block content %}

        <div class="match_searcher">
          <form action="{{url_for('character_connector')}}" method="POST">
            <label for="name_1">Search for the first role.</label>
            <input type="text" id="name_1" name="name_1"><br>
            <label type="name_2">Search for the second role.</label>
            <input type="text" id="name_2" name="name_2"><br>
            <input id="search-submit" name="search-submit" type="submit" value="Submit">
          </form>
        </div>
        
        {%if have_results %}
        <div class="matcher">

          <form action="{{url_for('character_connector')}}" method="POST">
            <input type="text" style="display:none" name="name_1" value="{{name_1}}">
            <input type="text" style="display:none" name="name_2" value="{{name_2}}">
            <label for="id1">{{name_1}}:</label>
            <select name="id1" class="select_mr">
            {%for mr in connector_mrs%}
              <optgroup label="{{mr.name}}">
                {%for role in mr.roles%}
                  <option value="{{role.id}}|{{mr.id}}">{{role.name}}</option>
                {%endfor%}
              </optgroup>
            {%endfor%}
            </select>
            <label for="id2">Role 2: {{name_2}}</label>
            <select name="id2" class="select_mr">
            {%for mr in connector_mrs2%}
              <optgroup label={{mr.name}}>
                {%for role in mr.roles%}
                  <option value="{{role.id}}|{{mr.id}}">{{role.name}}</option>
                {%endfor%}
              </optgroup>
            {%endfor%}
            </select>
            <label for="mode">Choose an operation:</label>
            <select name="mode" class="select_addMR">
              #TODO rename the tooltips
              <option value="changeMR">These are the same character, but not in the same continuity. Changes the Parent of the left role.(Same Character)</option>
              <option value="resetMR">Disconnect the left role from it's parent. (Not the same character)</option>
              <option value="mergeMR">Combines the two parents of the left and right roles. (Same Charater)</option>
              <option value="actorSwap">The two characters are the same character, and from the same continuity. (Combines the parents if they aren't already. Always check the other roles in the parent first!)</option>
              <option value="removeActorSwap">Remove left role from same continuity, keep as the same character. </option>
            </select>
            <input type="text" style="display: none;" id="name_1" name="name_1">
            <input type="text" style="display: none;" id="name_2" name="name_2">
            <input id="matcher-submit" name="matcher-submit" type="submit" value="Submit">
          </form>
          <p>Continuity: a connected universe or series </p> #TODO expand this explanation
          
        </div>
        {% endif %}
    
{% endblock %}