{% extends "HeadFoot.html" %}

{% block title %}
  Character Connector
{% endblock %}

{% block content %}
<a style="float:left" href="{{go_back_url}}">&lt&lt Go back</a>
        
        #TODO have these send the inputs (search and the ids, and the addMR function) to FLASK not in url
        <div class="matcher">
          <div class="match_searcher">
            <form action="{url_for('character_connector')}" method="POST">
              <label for="role1">Search for the first role.</label>
              <input type="text" id="role1" name="role1"><br>
              <label type="role2">Search for the second role.</label>
              <input type="text" id="role2" name="role2"><br>
              <input type="submit" value="Submit">
            </form>
          </div>
          {% if have_results %}
          <form action="{{url_for('character_connector')}}}">
            <label for="id1">{{name_1}}:</label>
            <select name="id1" class="select_mr">
            {%for mr in connector_mrs%}
              <optgroup label="{{mr.name}}">
                {%for role in mr.roles%}
                  <option value="{{role.id}}|{{mr.id}}">{{role.name}}</option>
                {%endfor%}
              </optgroup>
            {%endfor%}
            </select>
            <label for="id2">Role 2: {{name_2}}</label>
            <select name="id2" class="select_mr">
            {%for mr in connector_mrs2%}
              <optgroup label={{mr.name}}>
                {%for role in mr.roles%}
                  <option value="{{role.id}}|{{mr.id}}">{{role.name}}</option>
                {%endfor%}
              </optgroup>
            {%endfor%}
            </select>
            <label for="mode">Choose an operation:</label>
            <select name="mode" class="select_addMR">
              <option value="changeMR">These are the same character, but not in the same continuity. (Same Character)</option>
              <option value="resetMR">Disconnect the left role from it's parent. (Not the same character)</option>
              <option value="mergeMR">Combines the two parents of the left and right roles. (Same Charater)</option>
              <option value="actorSwap">The two characters are the same character, and from the same continuity. (Combines the parents if they aren't already. Always check the other roles in the parent first!)</option>
              <option value="removeActorSwap">The role on the left is not from the same continuity as the others, but is the same character. </option>
            </select>
            <input type="submit" value="Submit">
          </form>
          <p>Continuity: a connected universe or series</p>
          {%endif%}
        </div>
    
{% endblock %}