{% extends "HeadFoot.html" %}

{% block title %}
  Character Connector
{% endblock %}

{% block content %}
<a style="float:left" href="{{url_for('character_connector')}}">&lt&lt Go back</a>
        
        #TODO can I keep these on the same page, or do I have to seperate them
        #TODO have these send the inputs (search and the ids, and the addMR function) to FLASK not in url
        <div class="matcher">
          <form action="../submit">
          
            
          <label for="id1">Role 1: {{name_1}}</label>
          <select name="id1" class="select_mr">
            {%for mr in connector_mrs%}
            {%for role in mr.roles%}
            <option value="{{role[1]}}|{{mr.id}}">{{mr.name}}: {{role[0]}}</option>
            {%endfor%}
          
          {%endfor%}
        </select>
          
            <label for="id2">Role 2: {{name_2}}</label>
            <select name="id2" class="select_mr">
              {%for mr in connector_mrs2%}
              {%for role in mr.roles%}
              <option value="{{role[1]}}|{{mr.id}}">{{mr.name}}: {{role[0]}}</option>
              {%endfor%}
            
            {%endfor%}
          </select>
            
          
          <label for="mode">Choose an operation:</label>
          <select name="mode" class="select_addMR">
            <option value="addMR">Add the role on the left to the parent of the one on the right. (These are versions of the same character.)</option>
            <option value="removeMR">Remove the parent of the role on the left and give them a new one.</option>
            <option value="mergeMR">Combines the two parents of the left and right roles, creating one parent with all the roles of both.</option>
            <option value="actorSwap">The two caracters are the same version, and from the same series. (Combines the parents if they aren't already. Always check the other roles in the parent first!</option>
            <option value="removeActorSwap">The role on the left is not from the same series as another. (removes the corresponding flag.)</option>
          </select>
          
            <input type="submit" value="Submit">
          </form>
        </div>
    
{% endblock %}