<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
  </head>

<body>
  <div id="content">
  
  <header>
      <a class="logo" href="{{ url_for('index')}}" title= "Main Page"><img alt="RAC Logo" src="{{url_for('static', filename='Logo.png')}}" width="105" height="75"/></a>
    <nav class="nav-top">
      <ul>
        <li class="dropdown-hover">
          <a >Featured Articles</a>
          <ul class="dropdown-main-menu">
            <li class="dropdown-sub-hover first-hover">
              <a >Popular Characters</a>
              <ul class="dropdown-submenu">
                <li class="first-hover">{{popular_character_link_1}}</li>
                <li>{{popular_character_link_2}}</li>
                <li class="last-hover">{{popular_character_link_3}}</li>
              </ul></li>
            <li class="dropdown-sub-hover">
              <a>Most Played Characters</a>
              <ul class="dropdown-submenu">
                <li class="first-hover">{{biggest_character_link_1}}</li>
                <li>{{biggest_character_link_2}}</li>
                <li class="last-hover">{{biggest_character_link_3}}</li>
              </ul>
            </li>
            <li class="dropdown-sub-hover">
              <a>Most Popular Actors</a>
              <ul class="dropdown-submenu">
                <li class="first-hover">{{pop_actor_link_1}}</li>
                <li>{{pop_actor_link_2}}</li>
                <li class="last-hover">{{pop_actor_link_3}}</li>
              </ul>
            </li>
            <li class="dropdown-sub-hover last-hover">
              <a>Actors With The Most Roles</a>
              <ul class="dropdown-submenu">
                <li class="first-hover">{{biggest_actor_link_1}}</li>
                <li>{{biggest_actor_link_2}}</li>
                <li  class="last-hover">{{biggest_actor_link_3}}</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="{{ url_for('webview')}}" class="nav-last-link">Explore the Connection Web</a></li>
      </ul>
      
    </nav>
    <div class="searchbar">
      <form action="{{url_for('search')}}">
        <input type="text" name="query" placeholder="Search..">
        <input type="image" class="search-icon" name="submit" alt="submit" src="{{url_for('static', filename='magnifying-glass.png')}}">
      </form>
    </div>
  </header>
  <main>
  {% block content %}
  {% endblock %}
</main>
  <footer>
    <p>Copyright 2020 Kyle Parks </p>
      <div class="logo-credit">
      <div>Logo made from icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>, <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>, and <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>

    <nav class="footer-nav">
      <ul>
        <li class="nav-last-link"><a href="{{ url_for ('character_connector_search')}}">Contribute: Character Connector</a></li>
      </ul>
    </nav>
  
  </footer>
  </div>

  </body>
</html>