{%extends "HeadFoot.html" %}

{% block title %}
  Editor: {{template.name}}
{% endblock %}

{%block content%}
<a style="float:left" href="{{goBackUrl}}">&lt&lt Go back</a>
    <div class="blurb-editor">
        <h2>
          Edit {{template.name}}:
        </h2>
        <form method="POST">
            <label for="description">Template Description:</label><br>
            <textarea id="description" name="description">{{template.description}}</textarea>
            <input type="text" style="display:none" name="editorID" value="{{template.id}}">
            <input type="text" style="display:none" name="goBackUrl" value="{{goBackUrl}}">
            <textarea id="name" name="name">{{template.name}}</textarea>
            <input type="submit", id="edit_template", name="edit_template">
          </form>

        <h2>Version History</h2>
        {%for version in history%}
        <form method="POST">
            <label for="description">{{version.description}}</label>
          <input type="text" style="display:none" name="editorID" value="{{version.id}}">
          <input type="text" style="display:none" name="goBackUrl" value="{{goBackUrl}}">
          <input type="text" style="display:none" name="name" value="{{version.name}}">
          <input type="text" style="display: none" name="description" value="{{version.description}}">
          <label>{{version.timestamp}}</label>
          <input type="submit", id="history_reverter", name="history_reverter">
        </form>
        {%endfor%}

        <h2>Remove Abilities</h2>
    
        <form method="POST">
          <input type="hidden" name="editorID" value="{{template.id}}">
          <input type="hidden" name="goBackUrl" value="{{goBackUrl}}">
          {%for ability in template.abilities%}
          <input type="checkbox" name="remove_ability" value="{{ability.id}}"> {{ability.name}}: {{ability.description}} <a href="{{url_for('ability_editor')}}?id={{ability.id}}"><img  alt="editor button" src="{{url_for('static', filename='writing.png')}}" width="25" height="25"/></a> <br>
          {%endfor%}
          <input type="submit" id="ability_remover" name="ability_remover">
        </form>

        <h2>Add Abilities</h2>
    
        <form method="POST">
          <input type="hidden" name="editorID" value="{{template.id}}">
          <input type="hidden" name="goBackUrl" value="{{goBackUrl}}">
          {%for ability in abilities_that_are_not_connected %}
          <input type="checkbox" name="add_ability" value="{{ability.id}}">{{ability.name}}: {{ability.description}} <a href="{{url_for('ability_editor')}}?id={{ability.id}}"><img  alt="editor button" src="{{url_for('static', filename='writing.png')}}" width="25" height="25"/></a> <br>
          {%endfor%}
          <input type="submit" id="ability_adder" name="ability_adder">
        </form>
        
        <a href="{{url_for('create_ability')}}">Create a new ability.</a> <br>

          #TODO maybe add other templates? Like AMAZO or something who has superman's powers?

    </div>
      
{%endblock%}